.register-page {
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 40px 20px;
  min-height: 100vh;
  box-sizing: border-box;
}

.register-header {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  max-width: 348px;
  margin-bottom: 16px;
}

.register-container {
  background-color: white;
  width: 100%;
  max-width: 348px;
  border-radius: 28px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
  padding: 24px;
  box-sizing: border-box;
  overflow-y: auto;
}

.uniform-input {
  position: relative;
  margin-bottom: 24px;
}

.uniform-input .ant-form-item-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.uniform-input .ant-form-item-label {
  padding-right: 6px;
  text-align: left;
  width: 80px !important;
  flex-shrink: 0;
}

.uniform-input .ant-form-item-label > label {
  height: auto;
  margin: 0;
  color: #000000;
}

.uniform-input .ant-form-item-label > label::after {
  display: none !important;
}

.uniform-input .ant-form-item-control {
  position: relative;
  flex: 1;
}

.uniform-input .ant-input,
.uniform-input .ant-input-password {
  width: 100%;
  max-width: 160px;
}

.uniform-input .ant-form-item-explain {
  position: absolute;
  left: 0;
  top: 40px;
  font-size: 12px;
  color: #ff4d4f;
  width: 200px;
  z-index: 1;
}

.uniform-input.password-input {
  margin-bottom: 32px;
  height: 80px;
}

.uniform-input.password-input .ant-form-item-control {
  min-height: 32px;
}

/* 注册按钮样式 */
.register-container .ant-btn-primary {
  margin-top: 16px;
  position: relative;
  z-index: 0;
  background-color: #0d288b !important;
  border-radius: 29px !important;
  height: 58px;
  font-size: 20px;
  font-weight: 600;
  border: none !important;
}
