.resetPwdTitle {
    margin-left: 58px;
    margin-top: 96px;
}
.resetContainer {
  display: flex;
  justify-content: center;
  margin-top: 64px;
}

.resetForm {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.inputItem {
  margin-bottom: 38px;
  width: 239px;
}

.passwordInput {
  border-radius: 20px !important;
  width: 239px !important;
  height: 39px !important;
  font-size: 20px !important;
  font-weight: 600;
}



.sendBtn {
    width: 267px !important;
    height: 58px !important;
    background-color: #0d288b !important;
    margin-top: 85px !important;
    

    .sendWord {
        text-align: center;
        margin-top: auto;
        margin-bottom: auto;
        color: #ffffff !important;
    }
}


.ant-input-number {
  border-radius: 20px !important;
  width: 239px !important;
  height: 39px !important;
  font-size: 20px !important;
  font-weight: 600 !important;
  padding-left: 12px;
}

/* 修改 InputNumber 中的文字样式 */
.ant-input-number-input {
  height: 100% !important;
  font-size: 20px !important;
  font-weight: 600 !important;
}

/* 设置 placeholder 样式（InputNumber 的 placeholder 是通过 input 的原生 placeholder 实现的） */
.ant-input-number-input::placeholder {
  font-size: 20px !important;
  font-weight: 500 !important;
  color: #bfbfbf !important;
}
